.container{
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
}
#introductory{
    text-decoration: underline;
}
.width-line{
    width: 100%;
    height: 1rem;
    max-width: 100%;

    background-color: black;
    color: black;
}
#subject-title{
}

section{
    margin: 1.5rem 0;
    border: solid black 0.5rem;
    padding: 1rem;
}

.lyrical-list{
    margin: 3rem 0;
}
.lyrical-list li{
    list-style: none;
    text-align: left;
    font-size: 0.8rem;
}